<?xml version="1.0"?>

<model>
  <name>chessboard</name>
  <version>1.0</version>

  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Behnam Asadi</name>
    <email>behnam.asadi@gmail.com</email>
  </author>



  <description>
    A simple chessboard acquired from https://github.com/purdue-arc/chessboard_gazebo
  </description>

</model>
